body {
  margin: 0;
  padding: 0;
}
.wrap1 {
  background-image: url($imgUrl + "/images/cat1.svg");
  height: 100px;
  display: flex;
  transition: all 0.3s;
  & > div {
    height: 100%;
  }
  .left {
    width: 200px;
    background-color: blue;
    opacity: 0.5;
  }
  .center {
    flex: 1;
    overflow: hidden;
    background-color: red;
    opacity: 0.5;
  }
  .right {
    width: 200px;
    background-color: pink;
    opacity: 0.5;
  }
}
.wrap2 {
  height: 100px;
  & > div {
    height: 100%;
  }
  .left {
    width: 200px;
    float: left;
    background-color: blue;
    opacity: 0.5;
  }
  .right {
    overflow: hidden;
    background-color: pink;
    opacity: 0.5;
  }
}
.wrap3 {
  height: 100px;
  display: flex;
  & > div {
    height: 100%;
  }
  .left {
    flex-basis: 200px;
    background-color: blue;
    opacity: 0.5;
  }
  // .center {
  //   flex: 1;
  //   overflow: hidden;
  //   background-color: red;
  opacity: 0.5;
  // }
  .right {
    flex: 1;
    background-color: pink;
    opacity: 0.5;
  }
}

.wefergte {
  width: 100px;
}
